.container{
  position: relative;
  padding-bottom: 51%;
  z-index: 9999;
}
.river{
  width:100%;
  position: absolute;
  z-index: -4;
}


#timon{
  position: absolute;
  width: 7%;
  top: 75%;
  left: 67%;
  z-index: -1;
  cursor: pointer;
}

img{
  pointer-events: all !important;
}

#pumba{
  position: absolute;
  width: 12%;
  top: 68%;
  left: 84%;
  z-index: -1;
  cursor: pointer;
}

#simba{
  position: absolute;
  width: 12%;
  top: 68%;
  left: 74%;
  z-index: -1;
  cursor: pointer;
}

#hyena{
  position: absolute;
  width: 12%;
  top: 75%;
  left: 55%;
  z-index: -1;
  cursor: pointer;
}

.rock{
  position: absolute;
  width:40%;
  top: 50%;
  left: 57%;
  z-index: -4;
}

#boat{
  position: absolute;
  width:33%;
  top: 86%;
  left: 25%;
  animation:  boat 2s ease-in infinite;

}

@keyframes boat{
  0%{
    left: 25%
  }50%{
    left: 26%
  }100%{
    left: 25%
  }
}

.goUp{
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 10%;
  top: 80%;
  padding: 1%;
  border-radius: 1000px;
  color: white;
  border: 4px solid white;
  font-family:'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 1.5vw;
  background: #11998e;
  animation: up 3s ease-in infinite;
}
@keyframes up{
  0%{
    background: #11998e;
  }50%{
    background: #27b39b;
  }100%{
    background: #11998e;
  }
}

.goDown{
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 10%;
  top: 60%;
  padding: 1%;
  border-radius: 1000px;
  color: white;
  font-family:'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 1.5vw;
  border: 4px solid white;
  background: #ED213A;  /* fallback for old browsers */
  animation: down 3s ease-in infinite;
  padding: 1%;
}

@keyframes down{
  0%{
    background: #ED213A
  }50%{
    background: #93291E
  }100%{
    background: #ED213A
  }
}

h1{
  position: absolute;
  left: 10%;
  font-family: 'Share Tech Mono', monospace;
}
#instruction{
  position: absolute;
  display: block;
  background: transparent;
  color: maroon;
  left: 11%;
  width: 70%;
  height: 45%;
  top: 26%;
  padding: 3%;
  border-radius: 10%;
  font-size: 1.2vw;
  z-index: 2000;
  text-align: center;
  
  font-family: 'Roboto Mono', monospace;
  font-weight: bold
}

#instruction ul{
  color: white;
  width: 50%;
  display: block;
  margin: 0 auto
}

#scroll{
  z-index: 100;
  position: absolute;
  top:8%;
  height: 94%;
  width: 90%;
  left: 6%;
  z-index: 900;
}

#level1{
  position: absolute;
  padding: 2%;
  left: 40%;
  top: 90%;
  width: 20%;
  border-radius: 10%;
  font-family: 'Roboto Mono', monospace;
  font-size: 1vw;
  font-weight: bold;
  background: #F7971E;  /* fallback for old browsers */
  animation: level1 3s ease-in infinite;
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid black;
  outline: none;
}

@keyframes level1{
  0%{
    background: #F7971E
  }50%{
    background: #FFD200
  }100%{
    background: #F7971E
  }
}


#level2{
  position: absolute;
  padding: 2%;
  left: 40%;
  top: 105%;
  width: 20%;
  border-radius: 10%;
  font-family: 'Roboto Mono', monospace;
  font-size: 1vw;
  font-weight: bold;
  color: white;
  background: #F7971E;  /* fallback for old browsers */
  animation: level2 3s ease-in infinite;
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid white;
  outline: none;
}

@keyframes level2{
  0%{
    background: red
  }50%{
    background: firebrick
  }100%{
    background: red
  }
}

.logo{
  position: absolute;
  left: 36%;
  width: 25%;
  top: 13%;
  z-index: 3000;
}

.victory{
  
  position: absolute;
  
}

.plank{
  width: 15%;
  z-index: 0;
  position: absolute;
  left: 8%;
}

.instructionPage{
  
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 80%;
  top: 1%;
  padding: 1%;
  width: 14%;
  color: white;
  border: 4px solid white;
  font-family:'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 1.4vw;
  background: black;
  animation: instruction 5s ease-in infinite;
}

@keyframes instruction{
  0%{
    background: black;
  }50%{
    background: darkblue;
  }100%{
    background: black;
  }
}

.mute{
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 60%;
  top: 1%;
  padding: 1%;
  width: 12%;
  color: white;
  border: 4px solid white;
  font-family:'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 1.4vw;
  background: black;
  animation: mute 5s ease-in infinite;
}

@keyframes mute{
  0%{
    background: black;
  }50%{
    background: crimson;
  }100%{
    background: black;
  }
}

.end{
  position: absolute;
  top: 30%;

  font-size: 2vw;
  display: block;
  margin: 0 auto
}

.level{
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 38%;
  top: 1%;
  padding: 1%;
  width: 15%;
  color: white;
  border: 4px solid white;
  font-family:'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 1.4vw;
  background: black;
  animation: level 5s ease-in infinite;
}


@keyframes level{
  0%{
    background: black;
  }50%{
    background: dark green;
  }100%{
    background: black;
  }
}

.fonts{
  font-size: 2.5vw;
}